html, body {
    height: 100%;
    margin: 0 auto;
    max-width: 1440px;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0;
    background-color:#0C0C0E;
}

.header_title {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

nav {
    height: 100%;
    display: flex;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    display: flex;
    text-align: center;
    flex: 50%;
    padding: 0 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.prof_sv {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color:#FFFFFF;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Forum;
    flex: 1 0 auto;
}
main {
    width: 100%;
    color: #FFFFFF;
    background-size: contain;
    background-position: center;
    flex: 1 1 auto;
}

.main_title_container {
    padding-top: 220px;
    padding-bottom: 160px;
    background-image:url(img/page_bg.png);
}

.main_title {
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
}

.about__title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}

.about__text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.about__body {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.about_pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    align-items: center;

}

.about_pagination_item_1 {
    width: 26px;
    height: 26px;
    background: #ffffff;
}

.pag_it1 {
    width: 16px;
    height: 16px;
    background: #BB945F;
    border-radius: 50%;
    margin: 0 5px;
}

.about_pagination_item_2 {
    width: 26px;
    height: 26px;
    background: #ffffff;
}

.pag_it2 {
    width: 16px;
    height: 16px;
    background: #0C0C0E;
    border-radius: 50%;
    margin: 0 5px;
}

.about_pagination_item_3 {
    width: 26px;
    height: 26px;
    background: #ffffff;
}

.pag_it3 {
    width: 16px;
    height: 16px;
    background: #0C0C0E;
    border-radius: 50%;
    margin: 0 5px;
}





.favorites_title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}

.favorites_line {
    width: 50px;
    border-top: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.favorites_subtitle {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-left: 84px;
    margin-bottom: 45px;
}

.radio {
    margin-left: 80px;
}

label {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 20px;
    margin: 0 20px
}

.favorites_body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card_1 {
    width: 550px;
    height: 620px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    margin-bottom: 40px;
    z-index: 0;
    position: relative;
}

.card_1_line {
    width: 60px;
    border-top: 1px solid #BB945F;
    margin-left: 20px;
}

.card_2 {
    width: 550px;
    height: 620px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    margin-bottom: 40px;
    z-index: 0;
    position: relative;
}

.card_3 {
    width: 550px;
    height: 620px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    z-index: 0;
    position: relative;
}

.card_4 {
    width: 550px;
    height: 620px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    z-index: 0;
    position: relative;
}

.name {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 15px;
    margin-left: 20px;
}

.title h3 {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
}

.title p {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}

.text {
    width: 355px;
    height: 320px;
}

.text p {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
    margin-bottom: 60px;
}

.img_1 {
    position: absolute;
    z-index: 1;
    bottom: -5px;
    right: -45px;
}

.button_f {
    margin-left: 20px;
    margin-top: 40px;
}

.button_1 {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background: #FFF;
}

.button_1:hover {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    transition: all .3s linear;
    border: 1px solid #BB945F;
    background: #BB945F;
    color: #0C0C0E;
}

.img_2 {
    position: absolute;
    z-index: 1;
    bottom: -5px;
    right: -45px;
}

.img_3 {
    position: absolute;
    z-index: 1;
    bottom: -5px;
    right: -45px;
}

.img_4 {
    position: absolute;
    z-index: 1;
    bottom: -5px;
    right: -45px;
}

.button_2 {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #BB945F;
    color: #BB945F;
}

.coffee__title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}

.coffee__subtitle {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.drinks {
    display: flex;
}

.deserts {
    display: flex;
}

.menu_names {
    display: flex;
    justify-content: space-between;
}

.menu_name_1 {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}

.menu_name_2 {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}

.deserts h3 {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.drinks_name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.deserts_name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu_line li{
    width: 100px;
    border-top: 1px solid #BB945F;
    margin-top: 22px;
    margin-bottom: auto;
}

.drinks_name, .deserts_name {
    list-style-type: none;
    margin-left: -20px;
}

.drinks_cost {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    list-style-type: none;
}

.deserts_cost {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    list-style-type: none;
}

.contacts_title {
    color: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 40px;
}

.contacts_line {
    width: 50px;
    border-top: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.contacts_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts_left h3 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: -200px;
    margin-bottom: 40px;
}

.contacts_left a {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: block;
    margin-left: 20px;
    text-align: left;
    margin-top: 40px;
}

.contacts_right {
    margin-top: 40px;
}

.a2 {
    margin-top: 20px;
    margin-bottom: 20px;
}


.library_title {
    color: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 40px;
}

.library_line {
    width: 50px;
    border-top: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.library_left {
    margin-left: 20px;
}

.library_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lib_button {
    display: inline-flex;
    padding: 10px 40px;
    align-items: flex-end;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background: #FFF;
    justify-content: center;
    margin-left: 140px;
    margin-top: 30px;
}

.lib_button:hover {
    transition: all .3s linear;
    border: 1px solid #BB945F;
    background: #BB945F;
    color: #0C0C0E;
}

.form-control {
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-left: 16px;
}

.form {
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    background: #BB945F;
    margin: 0 auto;
}

.form_name {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-left: 20px;
}

.form_card {
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    border: 3px solid #BB945F;
    background: #FFF;
}

.libr_left_title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
}

.text_card {
    width: 456px;
    height: 253px;
    flex-shrink: 0;
}
.text_card h3 {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: right;
}

.text_body {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.rb_1  {
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    margin-right: 20px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.rb_2  {
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.rb_1:hover {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    transition: all .3s linear;
    border: 1px solid #BB945F;
    background: #BB945F;
    color: #0C0C0E;
}

.rb_2:hover {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    transition: all .3s linear;
    border: 1px solid #BB945F;
    background: #BB945F;
    color: #0C0C0E;
}


.footer {
    width: 100%;
    background: #000;
    display: flex;
    flex: 0 0 auto;
    margin-top: 41px;
    flex-direction: column;
    justify-content: space-around;
}

.f_1_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.f_1_down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.f_1_down_left {
    padding-left: 20px;
}

.f_1_up_right {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-right: 20px;
}

.f_3_up {
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.f_1_down_right {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-right: 20px;
}

.f_2 {
    background: #FFF;
    width: 1400px;
    height: 1px;
    margin: 0 auto;
}

.f_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 44px;
}

.f_3 p {
    display: inline-block;
}
/*STYLE NAVIGATION*/
.about1:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.favorites1:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.coffee_shop1:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.contacts1:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.library_card1:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
